div#full-page {
    max-width: 960px;
    margin: 0 auto;
}

#content {
    min-height: 800px;
    padding: 0 20px;
    margin: 4px;
}

nav.navbar-dark {
    background: #337;
}

#navView {
    background: #337;
}
#navView li a {
    color: #eee;
}
#navView li a:hover {
    background: #559;
    color: #fff;
}

#searchForm input {
    background: #559;
    color: #eee;
    border: 1px #559 solid;
    border-radius: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
#searchForm input::placeholder {
    color: #ddd;
}
#searchForm button {
    background: #448;
    color: #eee;
    border: 1px #559 solid;
    border-radius: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.btn-primary {
    background: #337;
}

th.nowrap {
    white-space: nowrap;
}
